 <ul id="menutree">
    <% for category in @main_categories %>
      <% if isset_subcat?(category) %>
        <li class="closed">
          <span class="folder">
            <%= link_to category.name, category %>
          </span>
          <%= raw find_all_subcategories(category) %>
        </li>
      <% else %>
        <li>
          <span class="notsubcat">
            <%= link_to category.name, category %>
          </span>
        </li>
      <% end %>
      
    <% end %>
  </ul>