<div class="contact_page">
  <div id="main_news_block">
    <h1>Контакты</h1>
    <div class="info_contact">
      <h2>Республика Казахстан, г.Костанай,<br /> ул.Гагарина, 187</h2>
      <h2>тел.: +7(7142)57-94-89, 57-91-36, факс:57-94-59</h2>
      <h2>моб.: 8-777-178-07-24</h2>
      <h2>Email: <a href="mailto:ktp_1968@mail.ru">ktp_1968@mail.ru</a>,
          <a href="mailto:knk-electro@yandex.kz">knk-electro@yandex.kz</a>
      </h2>
    </div>
    <div class="map_knk">
      <h1>Схема проезда:</h1>
      <a href="/assets/passage2.jpg" onclick="return jsiBoxOpen(this)" title="Схема проезда"><img src="/assets/passage.jpg" alt="Схема проезда" /></a>
    </div>
  </div>
  <%= render 'shared/feedback_block' %>
</div>
<div class="clear">
  
</div>