<div class="about_company_block">
  <%= flash_message(notice) %>
  <h1>О компании</h1>
  <div class="about_cb_left">
    <p>ТОО "КНК-электро" занимается оптово-розничной торговлей электротехнической продукции лучших производителей России,Китая и СНГ. Так же выполняет электромонтажные работы и осуществляет сборку шкафов ВРУ, ШР и.т.д.
    </p>
  </div>
  <div class="clear"></div>
</div>