<div class="about_company_block">
  <%= flash_message(notice) %>
  <h1>О компании</h1>
  <div class="about_cb_left">
    <p>ТОО "КНК-электро" осуществляет оптово-розничную торговлю электротехнической продукции от лучших производителей Казахстана, России, Китая и других производителей СНГ. Выполняет электромонтажные работы, осуществляет комплектацию шкафов типа ВРУ, АВР и т.п.
    </p>
  </div>
  <div class="clear"></div>
</div>