#content #catalog{
/*  border:1px solid #ccc;*/
  float:left;
}
#content .cat_content{
  float:left;
}
#path{
  margin-bottom:30px; 
  margin-left:10px;
  font-size:16px;
}
#path  a{
  color:#7C7C7C;
  text-decoration:none;
}
#path  a:hover{
  color:#51555D;
}
#path .title_path a{
  color:#7C7C7C;
  text-decoration:none;
}
#path .title_path a:hover{
  color:#3b3b3b;
}
#catalog #categories{
  width:270px;
  float:left;
/*  border:1px solid #ccc;*/
}
#categories ul{
  margin-left:15px;
}
#categories ul li{
  list-style-type: none;
  margin-bottom:4px;
  overflow: visible;
}
#catalog #categories ul li a{
  color:#3b3b3b;
  text-decoration:none;
}
#catalog #categories ul li a:hover{
  color:#7C7C7C;
}
#catalog #table_for_products{
  margin-top:-2px;
  width:700px;
  float:left;
/*  border:1px solid #ccc;  */
}
#catalog #table_for_products table{
  margin-left:20px;
  width:98%;
  font-size:12px;
  font-family:Tahoma,Helvetica,sans-serif;
  border-collapse: collapse;
  text-shadow: 0 1px 0px rgba(0,0,0,0.1);
}
#catalog #table_for_products table tr{
  height:20px;
}
#catalog #table_for_products table td{
  text-align:center;
  width:20%;
  vertical-align: middle;
  padding:10px;
  border:1px solid #ccc;
}
table .head{
  font-size:14px;
  font-weight: bold;
  background:#EAEAEA;
}
.list_line_odd{
  background:#fff;

}
.list_line_even{
  background:#f7f7f7;
}
#catalog .catalog_paginate{
  margin:0 auto;
  text-align:center;
  margin-top:20px;
  float:right;
  font-size:14px;  
}
#catalog .catalog_paginate a{
  color:#fff;
  text-decoration:none;
}
#catalog .catalog_paginate a:hover{
  color:#515151;
}
#catalog .catalog_paginate span{
  display:block;
  padding:7px;
  background:#dddcda;
  color:#6A6A6A;
  float:left;
  margin-right:5px;
  text-decoration:none;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;  
}

/* show page */
#show_product{
  border:1px solid #EEE;
  margin:0 auto;
  width:90%;
}
#show_product .title{
  font-size:18px;
  background:#eee;
  padding:5px;
  color:#6C6C6C;
}
#show_product .content{
  margin-top:10px;
  font-size:12px;
  float:left;
  width:380px;
  padding:10px;
}
#show_product .content .attach_file{
  margin-top:10px;
  font-size:11px;
}
#show_product .content .attach_file a{
  color:#5A5A5A;
  text-decoration:none;
}
#show_product .content .attach_file a:hover{
  color:#3A3A3A;
}
#show_product .content p{
  margin-top:4px;
}
#show_product .photo_cont{
  float:left;
  width:440px;
  padding:10px;
  margin-left:10px;
  margin-top:10px;
  border-left:1px solid #eee;
  padding-left:30px;
}
.photo_cont .photo_product_title{
  font-size:12px;
  margin-bottom:20px;
}
.photo_image{
  text-align:center;
}
.photo_image img{
  -webkit-border-radius:10px 10px 10px 10px;
  -moz-border-radius:10px 10px 10px 10px;
  border-radius:10px 10px 10px 10px;
  -o-border-radius:10px 10px 10px 10px;
}
#show_product .add_date{
  border-top:1px solid #eee;
  font-size:11px;
  margin-top:10px;
  padding:5px;
}