body {
margin: 0;
padding: 0;
background-image: url('background_header.png');
background-repeat: repeat-x;
}
#wrapper {
margin: 0 auto;
width: 1000px;
}
#header {
height: 464px;
}
#logo {
float: left;
float: left;
margin-top: 20px;
width: 152px;
height: 99px;
}
#info_header {
float: left;
margin-top: 20px;
margin-left: 106px;
width: 279px;
height: 90px;
background:url('info_header.png');
color: #3b3b3b;
font-family: Helvetica,Tahoma,sans-serif;
}
#info_header a {
color: #969393;
}
#info_header #phone {
margin-left: 44px;
font-size: 13px;
}
#info_header span {
font-weight: bold;
font-size: 18px;
}
#info_header #email {
margin-top: 11px;
margin-left: 44px;
font-size: 12px;
}
#icons {
float: left;
margin-top: 18px;
margin-left: 415px;
}
#icons ul li {
float: left;
margin-left: 10px;
}
#search {
float: left;
margin-top: 33px;
margin-left: 223px;
height: 26px;
}
#search .search_input {
float: left;
display: block;
padding: 0px;
padding-left: 5px;
width: 170px;
height: 26px;
border: none;
background: url('back_search.png');
background-repeat: no-repeat;
}
#search .search_button {
float: left;
display: block;
margin-left: -3px;
width: 68px;
height: 26px;
border: none;
background: url('button_search.png');
background-repeat: no-repeat;
}
#search .search_button:hover {
opacity: 0.7;
cursor: pointer;
}
#search .search_button:active {
opacity: 0.3;
}
.clear {
clear: both;
}
#main_menu{
margin-top: 22px;
height: 58px;
background-image: url('menu_bg.png');
background-position: bottom;
background-repeat: no-repeat;
font-size: 16px;
font-family: Tahoma,Helvetica,sans-serif;
}
#main_menu ul li {
float: left;
width: 250px;
background: #dddcda;
background-image: url('dif_li.png');
background-repeat: no-repeat;
text-align: center;
text-shadow: 0 1px 0px rgba(0,0,0,0.2);
}
#main_menu ul #first {
-webkit-border-radius: 7px 0px 0px 7px;
-moz-border-radius: 7px 0px 0px 7px;
border-radius: 7px 0px 0px 7px;
background-image: none;
-o-border-radius: 7px 0px 0px 7px;
}
#main_menu ul #last {
-webkit-border-radius: 0px 7px 7px 0px;
-moz-border-radius: 0px 7px 7px 0px;
border-radius: 0px 7px 7px 0px;
-o-border-radius: 0px 7px 7px 0px;
}
#main_menu ul li a {
display: block;
padding-top: 9px;
height: 29px;
color: #535353;
text-decoration: none;
white-space: nowrap;
}
#main_menu ul li:hover {
background: #dd2a1b;
background-image: url('dif_li.png');
background-repeat: no-repeat;
}
#main_menu ul a:hover {
color: #ECECEC;
}
#jsddm li ul {
font-size:12px;
margin: 0;
padding: 0;
position: absolute;
visibility: hidden;
border-top: 2px solid #dee1e2;
opacity:0.9;
z-index: 1;
}
#jsddm li ul li {
float: none;
display: inline;
text-align:left;
}
#jsddm li ul li a {
padding-right:5px;
padding-left:5px;
height:20px;  
width: auto;
color: #535353;
background: #dddcda;
}
#jsddm li ul li a:hover {
background: #dd2a1b;
}
#jsddm #last_jsddm a{
-webkit-border-radius: 0px 0px 5px 5px;
-moz-border-radius: 0px 0px 5px 5px;
border-radius:0px 0px 5px 5px;
-o-border-radius: 0px 0px 5px 5px;
}
#header_wall {
height: 275px;
-webkit-border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
border-radius: 7px 7px 7px 7px;
background: url('header_wall_back.png');
background-repeat: repeat-x;
-o-border-radius: 7px 7px 7px 7px;
}
#header_wall #cabel_and_lamp {
position: relative;
bottom: 15px;
left: 59px;
float: left;
width: 351px;
height: 310px;
background: url('cable_and_lamp.png');
}
#header_wall #header_wall_text_one {
position: relative;
top: 27px;
left: 126px;
float: left;
width: 416px;
height: 101px;
background: url('header_wall_text_one.png');
}
#header_wall #header_wall_text_two {
float: left;
margin-top: 45px;
margin-left: 132px;
width: 405px;
color: #636364;
text-shadow: 0 1px 0px rgba(0,0,0,0.2);
line-height: 17px;
font-size: 13px;
font-family: Tahoma,Helvetica,sans-serif;
}
#content {
color: #3f3f3f;
line-height: 16px;
font-size: 12px;
font-family: Tahoma,Arial,sans-serif;
}
#content .about_company_block {
margin-top: 5px;
padding: 0px 32px 0px 32px;
}
#content .about_company_block p {
margin-top: 10px;
}
#content .about_company_block h1 {
margin-top: 15px;
margin-bottom: 5px;
font-size: 18px;
}
#content .about_cb_left {
font-size: 14px;
}
#content .block_about_prod {
float: left;
margin-top: 40px;
width: 331px;
height: 174px;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
background-color: #de2c1d;
background-image: url('about_prod.png');
background-position: left;
background-position: left;
background-repeat: no-repeat;
-o-border-radius: 0px 5px 5px 0px;
}
#content .block_about_prod .text_prod h1 {
margin-top: 15px;
margin-bottom: 10px;
padding-right: 3px;
padding-left: 3px;
font-size: 16px;
}
#content .block_about_prod .text_prod {
float: right;
width: 200px;
color: #fff;
}
#content .block_about_prod .text_prod ul li {
margin-bottom: 3px;
padding-right: 3px;
padding-left: 3px;
list-style-position: inside;
list-style-type: disc;
text-align: left;
font-size: 11px;
font-family: Arial;
}
#content .block_about_prod .text_prod ul li a{
  color:#fff;
  text-decoration:none;
}
#content .block_about_prod .text_prod ul li a:hover{
  text-decoration:underline;
}
#content .block_manufact {
float: left;
margin-top: 40px;
margin-left: 10px;
width: 659px;
height: 174px;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
background-color: #6f6f6f;
background-image: url('manufact_back.png');
background-position: left;
background-repeat: no-repeat;
-o-border-radius: 5px 5px 5px 5px;
}
#content .block_manufact .manufact_info {
float: right;
padding: 0px 10px 0px 10px;
width: 504px;
color: #fff;
}
#content .block_manufact .manufact_info h1 {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 16px;
}
#content .block_manufact .manufact_info ul li {
margin-bottom: 3px;
padding-right: 3px;
padding-left: 3px;
list-style-position: inside;
list-style-type: disc;
text-align: left;
font-size: 11px;
font-family: Arial;
}
#content .block_manufact .manufact_info ul li a{
  color:#fff;
  text-decoration:none;
}
#content .block_manufact .manufact_info ul li a:hover{
  text-decoration:underline;
}
#content .block_manufact .manufact_info .man_logo {
margin-top: 15px;
}
#content #main_news_block {
float: left;
margin-top: 25px;
width: 331px;
height: 437px;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
background: #f0f0f0;
-o-border-radius: 5px 5px 5px 5px;
}
#content #main_news_block>h1 {
margin-top: 20px;
margin-left: 30px;
color: #3b3b3b;
text-shadow: 0 1px 0px rgba(0,0,0,0.2);
font-size: 16px;
}
#content #main_news_block .news_list {
margin-top: 15px;
margin-right: 30px;
margin-left: 30px;
}
#content #main_news_block .news_list .news_each {
margin-bottom: 20px;
}
.news_list .news_each .title_news {
height: 40px;
background-image: url('news_icon.png');
background-position: left;
background-repeat: no-repeat;
}
.title_news .info {
margin-left: 23px;
width: 244px;
}
.title_news .info .date {
color: #ababab;
font-size: 10px;
}
.title_news .info .title_text {
font-size: 14px;
}
.title_news .info .title_text a {
color: #3b3b3b;
text-decoration: none;
}
.title_news .info .title_text a:hover {
color: #de2d1e;
}
.news_each .news_small_text {
text-align: left;
line-height: 14px;
font-size: 12px;
}
/* feedback */
#content #feedback_block {
float: left;
margin-top: 25px;
margin-left: 10px;
width: 659px;
height: 437px;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
background: #f0f0f0;
-o-border-radius: 5px 5px 5px 5px;
}
#content #feedback_block>h1 {
margin-top: 20px;
margin-left: 30px;
color: #3b3b3b;
text-shadow: 0 1px 0px rgba(0,0,0,0.2);
font-size: 16px;
}
#content #feedback_block .text_feedback {
margin-top: 15px;
margin-right: 10px;
margin-left: 30px;
color: #3b3b3b;
font-size: 12px;
}
#content #feedback_block .form_feedback {
float: left;
margin-top: 20px;
margin-left: 30px;
width: 315px;
}
.form_feedback table tr {
display: block;
margin-bottom: 10px;
}
.form_feedback table tr td:first-child {
padding-top: 5px;
width: 80px;
vertical-align: top;
}
#content #feedback_block .form_feedback label {
width: 100px;
text-shadow: 0 1px 0px rgba(0,0,0,0.3);
font-size: 12px;
}
#content #feedback_block .form_feedback input[type='text'] {
padding: 0px 5px 0px 5px;
width: 218px;
height: 24px;
border: 1px solid #ccc;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
text-shadow: 0 1px 0px rgba(0,0,0,0.3);
font-size: 11px;
-o-border-radius: 5px 5px 5px 5px;
}
#content #feedback_block .form_feedback input[type='text'] {
padding: 0px 5px 0px 5px;
width: 218px;
height: 24px;
border: 1px solid #d5d5d5;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
color: #3b3b3b;
text-shadow: 0 1px 0px rgba(0,0,0,0.3);
font-size: 11px;
-o-border-radius: 5px 5px 5px 5px;
}
#content #feedback_block .form_feedback input[type='text']:focus {
border: 1px solid #3b3b3b;
}
#content #feedback_block .form_feedback #message {
padding: 5px 5px 5px 5px;
width: 218px;
height: 150px;
border: 1px solid #d5d5d5;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
color: #3b3b3b;
text-shadow: 0 1px 0px rgba(0,0,0,0.3);
font-size: 11px;
-o-border-radius: 5px 5px 5px 5px;
}
#content #feedback_block .form_feedback #message:focus {
border: 1px solid #3b3b3b;
}
.feedback_submit_cell {
float: right;
}
.feedback_submit_button {
display: block;
display: block;
padding: 0px;
width: 90px;
height: 25px;
border: none;
background-image: url('submit_button.png');
background-repeat: no-repeat;
}
.feedback_submit_button:hover {
opacity: 0.7;
cursor: pointer;
}
.feedback_submit_button:active {
opacity: 0.3;
}
/*banner info*/
#content .banner_info {
float: left;
margin-top: 87px;
margin-left: 22px;
width: 264px;
height: 245px;
background-image: url('banner_info.png');
background-repeat: no-repeat;
font-family: Helvetica,Arial,sans-serif;
}
#content .banner_info .banner_header {
margin-top: 13px;
margin-left: 15px;
color: #3b3b3b;
}
#content .banner_info .banner_header h1 {
font-size: 14px;
}
#content .banner_info .banner_header p {
margin-top: 2px;
font-size: 11px;
}
#content .banner_info #banner_contacts {
margin-top: 20px;
margin-left: 60px;
color: #fff;
}
#content .banner_info #banner_contacts a {
color: #fff;
}
#content .banner_info #banner_contacts #phone {
font-size: 13px;
}
#content .banner_info #banner_contacts #phone span {
font-size: 16px;
}
#content .banner_info .banner_address {
margin-top: 13px;
margin-left: 15px;
font-size: 13px;
}
#content .banner_info .banner_graph {
margin-top: 5px;
margin-left: 15px;
color: #fff;
font-size: 11px;
}
.how_search {
margin-top: 14px;
margin-left: 15px;
}
.how_search a {
color: #fff;
font-size: 13px;
}
/* footer */
#footer {
clear: both;
margin-top: 25px;
height: 41px;
-webkit-border-radius: 7px 7px 0px 0px;
-moz-border-radius: 7px 7px 0px 0px;
border-radius: 7px 7px 0px 0px;
background: #3b3b3b;
font-size: 11px;
font-family: Tahoma,Helvetica,sans-serif;
-o-border-radius: 7px 7px 0px 0px;
}
#footer a {
color: #c0c0c0;
}
#footer .copyright {
float: left;
margin-top: 15px;
margin-left: 33px;
color: #c0c0c0;
}
#footer #footer_menu {
float: left;
margin-top: 15px;
margin-left: 410px;
}
#footer #footer_menu ul li {
float: left;
margin-right: 16px;
}
#footer #footer_menu a:hover {
color: #fff;
}
#footer #developer {
float: right;
margin-top: 10px;
padding: 5px;
width: 95px;
-webkit-border-radius: 5px 0px 0px 5px;
-moz-border-radius: 5px 0px 0px 5px;
border-radius: 5px 0px 0px 5px;
background: #F3F3F3;
color: #3b3b3b;
text-align: left;
font-size: 11px;
-o-border-radius: 5px 0px 0px 5px;
}
#footer #developer a {
color: #3b3b3b;
text-decoration: none;
}
#footer #developer .first {
color: #922;
}
#alert{
  text-align:center;
  padding:5px;
  color:#7E3935;
  border:1px solid #7E3935;
  margin-bottom:20px;
}
#notice{
  text-align:center;
  padding:5px;
  color:#47B42C;
  border:1px solid #47B42C;
  margin-bottom:20px;
}

/* tree categories */
#categories ul{
  margin-left:15px;
}
#categories ul li{
  list-style-type: none;
  margin-bottom:4px;
  overflow: visible;
}
#categories ul li a{
  color:#3b3b3b;
  text-decoration:none;
}
#categories ul li a:hover{
  color:#7C7C7C;
}
#categories span{
  background-image:url('menu-arrow-right.png');
  background-repeat:no-repeat;
  background-position: left;
/*  border:1px solid #ccc;*/
  width:200px;
  display:block;
  padding-left:15px;
}
#categories span.notsubcat{
  background-image:url('menu-dot.png');
  background-repeat:no-repeat;
  background-position: left;
/*  border:1px solid #ccc;*/
  width:200px;
  display:block;
  padding-left:15px;  
}