<div class="block_about_prod">
  <div class="text_prod">
    <h1>Продукция</h1>
    <ul>
      <li><a href="#">Светотехническая продукция</a></li>
      <li><a href="#">Электроустановочные изделия</a></li>
      <li><a href="#">Кабельная продукция</a></li>
      <li><a href="#">Электромонтажные материалы</a></li>
      <li><a href="#">Коммутационная аппаратура</a></li>
      <li><a href="#">Тепловое оборудование</a></li>
    </ul>          
  </div>
</div>
<div class="block_manufact">
  <div class="manufact_info">
    <h1>Продукция</h1>
    <ul>
      <li><a href="#">Щитовое оборудование</a></li>
      <li><a href="#">Приборы учета и контроля электроэнергии</a></li>
      <li><a href="#">Силовое оборудование</a></li>
      <li><a href="#">Инструмент</a></li>
      <li><a href="#">Арматура СИП</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div id="main_news_block">
  <h1>Новости</h1>
  <div class="news_list">
    <% @main_page_news.each do |new| %>
      <div class="news_each">
        <div class="title_news">
          <div class="info">
            <div class="date">
              <%= date(new) %>, Новости компании
            </div>
            <div class="title_text">
              <%= link_to title_more(new), new %>
            </div>
          </div>
        </div>
        <div class="news_small_text">
          <%= news_more(new, 170) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/feedback_block' %>