<div class="block_about_prod">
  <div class="text_prod">
    <h1>Продукция</h1>
    <ul>
      <li>кабельная продукция</li>
      <li>электромонтажные товары</li>
    </ul>          
  </div>
</div>
<div class="block_manufact">
  <div class="manufact_info">
    <h1>Продукция</h1>
    <ul>
      <li>пускозащитная аппаратура (ПЗА)</li>
      <li>низковольтные устройства(НКУ)</li>
      <li>светотехническая продукция</li>
    </ul>
  </div>
</div>
