<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/header' %>
    <div class="clear"></div>
    <div id="content">
      <%= yield %>
    </div>
    <div class="clear"></div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>